<div class="container-fluid p-0">
    <div class="row">
        <div class="col-xl-12 col-xxl-12 d-flex">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Jami foydalanuvchilar soni</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{ telegram_chats }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Botda ro'yxatdan o'tgan mijozlar soni</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{users}} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Bu oyda botga qo'shilgan foydalanuvhilar soni</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{this_month_chats}} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Bu oyda Botda ro'yxatdan o'tgan mijozlar soni</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{this_month_users}} </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Botni bloklagan foydalanuvchilar soni</h5>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{blocked_chats_count}} </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>